H1, H2, H4, P, a, .material-symbols-outlined {
    color: white;
}

.main-row {
    width: 100%;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    background-color: #1e1e1e !important;
}

.menu-button {
    width: 100%;
}

.user-controls {
    padding: 8px 16px 8px 24px;
    margin: 0;
}

.user-result {
    padding: 8px 24px 8px 24px;
    background-color: #31302f !important;
}

#button-column>button {
    margin: 5px 0 5px 0;
}

#button-column {
    margin-top: 50px;
}

.user-result>div>H1 {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

#upload-data>div {
    transition: background-color 1.5s cubic-bezier(0.1, 0.8, 0.5, 2), color 1s .5s linear;
}

#upload-data>div:hover {
    background-color: color(srgb 0.415 0.4109 0.4067);
}

#div-train-btn {
    display: flex;
    align-items: center;
    width: 100%;
}

#train-btn {
    margin: 50px auto 25px auto;
    width: 75%;
}

.form-check {
    padding-left: 0;
    margin: 15px;
}
.btn-group {
    width: 100%;
    justify-content: center;
}

.form-check>label {
    display: table-cell;
    width: 200px;
    height: 130px;
    text-align: center;
}

.example_table_text {
    margin-top: 30px;
    margin-bottom: 0;
}

.models-help-row {
    display: flex;
    justify-content: center;
}

.accordion-p, .modal-form-input>p {
    color: black;
}

#upload-image {
    margin-left: -10px;
    padding-right: 10px;
}

textarea {
    border-radius: 10px;
    border: .2rem solid;
}

.modal-form-input {
    margin-bottom: 15px;
}

.modal-form-input>p {
    margin-bottom: 0;
}

#open-login-form {
    position: absolute;
    top: 15px;
    right: 15px;
}
